body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

.adicionar-produto,
.buscar-produto {
    margin: 20px;
}

input,
button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.catalogo {
    margin: 20px;
}

.produto-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.produto-imagem {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
